# Database 
PG_HOST= your_host
PG_PORT= your_port
PG_USER= your_user
PG_PASSWORD= your_password
PG_DB= your_database_name

# secure
JWT_ACCESS_SECRET= your_access_token_secret
JWT_REFRESH_SECRET= your_refresh_token_secret 

ACCESS_TOKEN_EXPIRES= 15m
REFRESH_TOKEN_EXPIRES= 7d